body {
  border-top: 3px solid #000000;
  color: #000000;
  font-family: sans-serif;
  font-size: 62.5%;
}
body > div {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1em;
}
header {
  text-align: right;
}
header h1 {
  float: left;
  font-size: 3.2em;
  line-height: 1.6;
}
header h2 {
  float: right;
  line-height: 3.2;
  margin-bottom: 0;
}
h2 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: .8em;
}
p {
  font-size: 1.6em;
  line-height: 1.6;
  margin-bottom: .8em;
}
img {
  max-width: 100%;
  width: 100%;
}
