
@black: #000000;
@darkgrey: #222222;
@grey: #444444;
@green: #ab4;
@ivory: #ffe;
@white: #fff;

body {
	background: @ivory;
	color: @grey;
	font-family:sans-serif;
	text-transform: lowercase;
	margin-bottom:20px;
}

h1, h2, h3, h4, h5, h6 {
	color: @green;
	font-family:serif;
	font-weight:normal;
	margin:0;
	text-transform: uppercase;
}

h1 {
    font-size:28px;
	line-height:50px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	line-height:1.6;
}

h3 {
	font-size: 16px;
	line-height:1.6;
}

h4 {
	font-size: 14px;
	line-height:50px;
}

a {
  color: @grey;
  text-decoration: underline;
}

a:hover {
  color: @grey;
}

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}


/*

#main {

    img {
        border: solid 1px @grey;
    }

        img.wide {
            max-width: 100%;
            width: 100%;
        }

    .direction-section {
		margin-bottom:1em;

		.google-map {
			float: left;
			margin-right: 1em;
		}

		.direction-list {
			float: left;
		}
    }

}


@media all and (min-width:380px) {
    .header {
        h1 {
            background: url(images/bird-right.png) no-repeat transparent;
            background-position: left 0;
            padding-left: 52px;
        }
    }
}

*/

.navbar {
  margin-bottom: 0;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: @white;
  text-shadow: none;
}

.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
  color: @white;
}

.icon-bird {
    background: url(images/bird-right.png) no-repeat transparent;
    background-position: left 0;
	height:48px;
	margin-right:10px;
	width:42px;
}

.img-bordered {
    border: solid 1px @grey;
}

.registry-list {
	list-style-type: none;
	margin:0;
}

.direction-section {
	margin-bottom:1em;

	.google-map {
		float: left;
		margin-right: 1em;
	}

	.direction-list {
		float: left;
		list-style-type: none;
		margin:0;
	}
}
