body {
  background: #ffffee;
  color: #444444;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #aabb44;
  font-family: serif;
  text-transform: uppercase;
  font-weight: normal;
}
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.0em;
  font-weight: bold;
}
h3 {
  font-size: 1.6em;
}
a {
  color: #444444;
}
p,
ul,
label {
  font-size: 1.4em;
  text-transform: lowercase;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.nav-wrapper {
  background: #000000;
}
.nav-wrapper .nav {
  color: #ffffff;
  font-weight: bold;
  line-height: 2.4;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1em;
}
.nav-wrapper .nav li {
  display: inline-block;
  margin-right: .3em;
}
.nav-wrapper .nav a {
  color: #ffffff;
  text-decoration: none;
}
.header {
  text-align: right;
}
.header h1 {
  float: left;
  line-height: 1.8;
}
.header h2 {
  float: right;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 3.4;
  margin-bottom: 0;
}
#main {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1em;
}
#main h2 {
  margin-bottom: .2em;
}
#main p {
  margin-bottom: .8em;
}
#main ul {
  margin-bottom: .8em;
}
#main img {
  border: solid 1px #444444;
}
#main img.wide {
  max-width: 100%;
  width: 100%;
}
#main .direction-section {
  margin-bottom: 1em;
}
#main .direction-section .google-map {
  float: left;
  margin-right: 1em;
}
#main .direction-section .direction-list {
  float: left;
}
@media all and (min-width: 380px) {
  .header h1 {
    background: url(images/bird-right.png) no-repeat transparent;
    background-position: left 0;
    padding-left: 52px;
  }
}
