@{
    ViewBag.Title = "Directions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Directions</h2>

<div class="direction-section cf">
    <h3>Villa Terrace (Ceremony)</h3>
    <p>2220 N. Terrace Ave<br />Milwaukee, WI 53202<br /><a href="tel://1-414-271-3656">414-271-3656</a></p>
    <p class="google-map">
        <img src="@Url.Content("/Content/images/villa-terrace-map.png")" width="300" />
    </p>
    <ul class="direction-list">
        <li><a href="http://goo.gl/maps/VFcFY">From Oshkosh</a></li>
        <li><a href="http://goo.gl/maps/DY0fc">From west of Milwaukee</a></li>
        <li><a href="http://goo.gl/maps/BrIFg">From south of Milwaukee</a></li>
        <li><a href="http://goo.gl/maps/9BW1W">From Knickerbocker Hotel</a></li>
    </ul>
</div>

<div class="direction-section cf">
    <h3>Allis Museum (Reception)</h3>
    <p>1801 N. Prospect Ave.<br />Milwaukee, WI 53202<br /><a href="tel://1-414-278-8295">414-278-8295</a></p>
    <p class="google-map">
        <img src="@Url.Content("/Content/images/allis-map.png")" width="300" />
    </p>
    <ul class="direction-list">
        <li><a href="http://goo.gl/maps/DV1tx">From Villa Terrace Museum</a></li>
        <li><a href="http://goo.gl/maps/VlV1y">From Knickerbocker Hotel</a></li>
    </ul>
</div>

<div class="direction-section cf">
    <h3>Knickerbocker Hotel</h3>
    <p>1028 E. Juneau Ave.<br />Milwaukee, WI 53202<br /><a href="tel://1-414-276-8500">414-276-8500</a></p>
    <p class="google-map">
        <img src="@Url.Content("/Content/images/knick-map.png")" width="300" />
    </p>
    <ul class="direction-list">
        <li><a href="http://goo.gl/maps/OgMNM">From Oshkosh</a></li>
        <li><a href="http://goo.gl/maps/MLlqX">From Mitchell International Airport</a></li>
        <li><a href="http://goo.gl/maps/mzXLg">From west of Milwaukee</a></li>
        <li><a href="http://goo.gl/maps/MLlqX">From south of Milwaukee</a></li>
        <li><a href="http://goo.gl/maps/C6ZUq">From Villa Terrace Museum</a></li>
        <li><a href="http://goo.gl/maps/5uHsW">From Charles Allis Museum</a></li>
    </ul>
</div>
