@model SchultzHanson.Web.Models.GuestbookEntry
@{
    ViewBag.Title = "Guestbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guestbook</h2>

<p>Coming soon</p>

@*
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.Name):
        @Html.TextBoxFor(x => x.Name)    
    </div>
    <div>
        @Html.LabelFor(x => x.Message):
        @Html.TextAreaFor(x => x.Message)
    </div>
}
*@