@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <img src="@Url.Content("~/Content/images/photos/bench.jpg")" class="img-bordered" />
</p>

<p>Welcome to the wedding website of Josh Schultz and Alicia Hanson! We look forward to seeing you on our special day.</p>

<h3>Ceremony</h3>
<p>The ceremony will take place at 3:00 p.m. at Villa Terrace Decorative Arts Museum.</p>

<h3>Reception</h3>
<p>A reception will follow at the Charles Allis Museum, at 5:00 p.m.</p>

<h3>Hotel Accomodations</h3>
<p>
    Knickerbocker on the Lake<br />
    1028 E. Juneau Ave.<br />
    Milwaukee, WI 53202<br />
    Reservations: <a href="tel://1-414-276-8500">(414) 276-8500</a></br>
    <a href="http://www.knickerbockeronthelake.com">www.knickerbockeronthelake.com</a>
</p>
<p>
    We have blocked a limited number of hotel rooms at the Knickerbocker on the Lake for our reception.
    Please call the hotel at <nobr><a href="tel://1-414-276-8500">(414) 276-8500</a></nobr> by March 29, 2013 and be sure to mention the Hanson-Schultz
    wedding. We have arranged for a $99 rate for their standard queen bed rooms. Please note check-in time is 3:00 p.m.
    and check-out is 12:00 p.m.
</p>
<p>
    Please also note that parking at the Knickerbocker on the Lake is $15 a night, and first come, first served.
</p>

<h3>Registry</h3>
<ul class="registry-list">
    <li><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-481879363">Bed Bath &amp; Beyond</a></li>
    <li><a href="http://www.target.com/wedd/registry/sKwTZEstwjLiPF3ORG1ArQ">Target</a></li>
    <li><a href="http://www.williams-sonoma.com/registry/3025757/registry-list.html">Williams-Sonoma</a></li>
</ul>

