@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <img src="@Url.Content("~/Content/images/photos/bench.jpg")" />
</p>

<h2>Ceremony</h2>
<p>The ceremony will take place at 3:00 p.m. Villa Terrace Decorative Arts Museum.</p>

<h2>Reception</h2>
<p>A reception will follow at the Charles Allis museum, at 5:00 p.m.</p>
